<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="YouTubeApiKey" value="AIzaSyAMWlpjyfcV-Yi4NTln_Vrw9FaLnZgjcfc" />
    <add key="OutputFolder" value="c:\test\output" />
  </appSettings>
</configuration>